FORMAT: 1A
HOST: https://api-integracao.cerc.inf.br/

# API CERC - Agente de Registro

A "API CERC - Agente de Registro" é uma interface entre sistemas que oferece aos Agentes de Registro um conjunto de serviços voltados para Operações e Direitos Creditórios.
Um dos serviços oferecidos nesta versão é a Avaliação de Direitos Creditórios associados a Documentos Fiscais Eletrônicos (DF-e), que fornece informações sobre a Situação de Direitos Creditórios associados a um documento fiscal e suas partes, bem como os Indícios de Consistência decorrentes dos algoritmos proprietários da CERC.
É possível também consultar informações sobre os Direitos Creditórios e Operações registrados, sobre os documentos fiscais a estes relacionados e sobre suas partes.
Outro serviço oferecido é o de solicitação de Registro de uma Operação e Direito Creditório, nesta versão para o tipo duplicata mercantil com DF-e.
Os dados de Direitos Creditórios e Operações com Registro ativo são atualizados, em busca de alterações nas Bases de Dados Externas.
Estas informações podem ser consultadas no serviço de Atualização das Avaliações.
Atualizações dos Registros devem ser informadas pelos Participantes do Sistema CERC por meio da respectiva transação nesta API.

## Versão da API

É necessário informar, no cabeçalho da requisição HTTP (_header_) a versão da API a ser utilizada.

É recomendável utilizar sempre a versão mais recente, que atualmente é a versão 2.0. A versão é especificada da seguinte forma:

`x-api-version: 2.0`

## Formato da resposta

Para obter a resposta da API CERC no formato esperado, que pode ser XML ou JSON, é preciso indicá-lo no cabeçalho da requisição HTTP (_header_), usando um dos dois campos abaixo, conforme a requisição (`Content-type` para requisições que enviam dados e `Accept` para requisições que recebem dados):

- `Content-type: (application/xml ou application/json)`
- `Accept: (application/xml ou application/json)`

Os formatos válidos no momento são `json` e `xml` e nesta documentação todos os exemplos requisitam a resposta em XML.

## Autenticação

Para utilizar a API CERC, é necessário enviar o `token` de acesso em toda requisição. Antes de fazer qualquer requisição para os endpoints desta documentação, é preciso obter o `token` de autenticação com o Supervisor do Sistema CERC da sua organização.

A maioria dos endpoints documentados requer que as requisições venham com um `token` de acesso no campo `Authorization` do `Headers` da requisição. Ou seja:

`Authorization: Bearer {token}`

Obs.: As chaves `{}` não devem ser enviadas, elas apenas indicam que o trecho `token` deve ser substituído pelo `token` de acesso do usuário.

Para obter o `token` de acesso, consulte o Supervisor do Sistema CERC de sua organização.

## Múltiplos parâmetros em `query string`

Em requisições com método `GET`, todos os parâmetros devem ser passados pela `query string`. Em caso de parâmetros que aceitem mais de um valor, ou seja, parâmetros que são `arrays`, eles devem ser enviados no seguinte formato: `var1[]=35&var1[]=47&var1[]=12`, que equivale a `var1 = [35, 47, 12]`.

# Group Avaliações

## Avaliação de Direitos Creditórios em lote [/lotes-de-validacoes]

Conjunto de serviços que compreende solicitação de Avaliação de um lote de Direitos Creditórios e de suas Partes (Originador e Pagador).
A Avaliação é o processo por meio do qual o Sistema CERC efetua consultas a Bases de Dados Externas e Internas e por meio de algoritmos proprietários gera Indicadores de Consistência e evidências da Situação do Direito Creditório.
O conjunto de informações coletadas compreende os dados disponibilizados pelo serviço de consulta de notas fiscais eletrônicas das Secretarias de Fazenda Estaduais e pelo serviço de consulta de CPF e CNPJ da Receita Federal.
Sobre os dados encontrados nessas fontes, são aplicados algoritmos proprietários para verificar a Situação dos Direitos Creditórios e os Indicadores de Consistência.

Os Indícios de Consistência resultantes das análises dos algoritmos, bem como os dados coletados nas Bases de Dados Externas, podem ser consultados através do conjunto de serviços de consulta de dados das Avaliações. Este conjunto de serviços é o correspondente à Avaliação do Portal do Agente.

### Solicitação de Avaliação de direitos creditórios em lote [POST]

Serviço para criar um pedido de Avaliação para um lote de Direitos Creditórios.

+ Request XML - Duplicata Mercantil (application/xml)

    + Attributes

        + `lote_de_validacoes` (LoteDeValidacoesSolicitacao) - Dados do lote de Avaliações de Direitos Creditórios. Nele são informados o Detentor / Carteira para quem serão feitas as Operações de uso dos Direitos Creditórios que se deseja validar e os dados destas Operações, que são informados no nó `validacoes`.

    + Headers

            x-api-version: 2.0
            Authorization: Bearer {token}
            Accept: application/xml

    + Body

            <?xml version="1.0" encoding="UTF-8"?>
            <lote_de_validacoes>
              <veiculo>
                <id>2655581f-1d78-47d7-95de-75234d28b53e</id>
              </veiculo>
              <monitoramento>true</monitoramento>
              <disponibilizacao_arquivo_retorno>true</disponibilizacao_arquivo_retorno>
              <aguardar_documentos>true</aguardar_documentos>
              <buscar_documentos>true</buscar_documentos>
              <validacoes>
                <validacao>
                  <recebivel>
                    <identificador>
                      <numero>ABC-123</numero>
                    </identificador>
                    <vencimento>2017-12-31</vencimento>
                    <valor>1999.90</valor>
                    <tipo>duplicata_mercantil</tipo>
                    <documento_fiscal>
                      <identificador>
                        <numero>4316 0287 8642 3700 0522 5500 1000 1523 7515 0521 0080</numero>
                      </identificador>
                      <tipo>nfe</tipo>
                    </documento_fiscal>
                    <partes>
                      <originador>
                        <documento>
                          <identificador>
                            <numero>10.418.053/0001-80</numero>
                          </identificador>
                          <tipo>cnpj</tipo>
                        </documento>
                      </originador>
                      <pagador>
                        <documento>
                          <identificador>
                            <numero>10.418.053/0001-80</numero>
                          </identificador>
                          <tipo>cnpj</tipo>
                        </documento>
                      </pagador>
                    </partes>
                  </recebivel>
                  <cedente>
                    <documento>
                      <identificador>
                        <numero>10.418.053/0001-80</numero>
                      </identificador>
                      <tipo>cnpj</tipo>
                    </documento>
                  </cedente>
                  <referencia_externa></referencia_externa>
                </validacao>
              </validacoes>
            </lote_de_validacoes>

+ Request XML - Duplicata de Serviço (application/xml)

    + Headers

            x-api-version: 2.0
            Authorization: Bearer {token}
            Accept: application/xml

    + Body

            <?xml version="1.0" encoding="UTF-8"?>
            <lote_de_validacoes>
              <veiculo>
                <id>2655581f-1d78-47d7-95de-75234d28b53e</id>
              </veiculo>
              <monitoramento>true</monitoramento>
              <disponibilizacao_arquivo_retorno>true</disponibilizacao_arquivo_retorno>
              <aguardar_documentos>true</aguardar_documentos>
              <buscar_documentos>true</buscar_documentos>
              <validacoes>
                <validacao>
                  <recebivel>
                    <identificador>
                      <numero>ABC-123</numero>
                    </identificador>
                    <vencimento>2017-12-31</vencimento>
                    <valor>1999.90</valor>
                    <tipo>duplicata_servico</tipo>
                    <documento_fiscal>
                      <identificador>
                        <numero>12545878</numero>
                      </identificador>
                      <tipo>nfs</tipo>
                    </documento_fiscal>
                    <partes>
                      <originador>
                        <documento>
                          <identificador>
                            <numero>10.418.053/0001-80</numero>
                          </identificador>
                          <tipo>cnpj</tipo>
                        </documento>
                      </originador>
                      <pagador>
                        <documento>
                          <identificador>
                            <numero>10.418.053/0001-80</numero>
                          </identificador>
                          <tipo>cnpj</tipo>
                        </documento>
                      </pagador>
                    </partes>
                  </recebivel>
                  <cedente>
                    <documento>
                      <identificador>
                        <numero>10.418.053/0001-80</numero>
                      </identificador>
                      <tipo>cnpj</tipo>
                    </documento>
                  </cedente>
                  <referencia_externa></referencia_externa>
                </validacao>
              </validacoes>
            </lote_de_validacoes>

+ Request XML - Contrato (application/xml)

    + Headers

            x-api-version: 2.0
            Authorization: Bearer {token}
            Accept: application/xml

    + Body

            <?xml version="1.0" encoding="UTF-8"?>
            <lote_de_validacoes>
              <veiculo>
                <id>2655581f-1d78-47d7-95de-75234d28b53e</id>
              </veiculo>
              <monitoramento>true</monitoramento>
              <disponibilizacao_arquivo_retorno>true</disponibilizacao_arquivo_retorno>
              <aguardar_documentos>true</aguardar_documentos>
              <buscar_documentos>true</buscar_documentos>
              <validacoes>
                <validacao>
                  <recebivel>
                    <identificador>
                      <numero>1</numero>
                    </identificador>
                    <vencimento>2017-12-31</vencimento>
                    <valor>200.00</valor>
                    <tipo>contrato</tipo>
                    <valor_total>1200.00</valor_total>
                    <quantidade_parcelas>6</quantidade_parcelas>
                    <data_celebracao>2017-12-31</data_celebracao>
                    <numero_contrato>CONT-123</numero_contrato>
                    <partes>
                      <originador>
                        <documento>
                          <identificador>
                            <numero>10.418.053/0001-80</numero>
                          </identificador>
                          <tipo>cnpj</tipo>
                        </documento>
                      </originador>
                      <pagador>
                        <documento>
                          <identificador>
                            <numero>10.418.053/0001-80</numero>
                          </identificador>
                          <tipo>cnpj</tipo>
                        </documento>
                      </pagador>
                    </partes>
                  </recebivel>
                  <cedente>
                    <documento>
                      <identificador>
                        <numero>10.418.053/0001-80</numero>
                      </identificador>
                      <tipo>cnpj</tipo>
                    </documento>
                  </cedente>
                  <referencia_externa></referencia_externa>
                </validacao>
              </validacoes>
            </lote_de_validacoes>

+ Request XML - Cheque (application/xml)

    + Headers

            x-api-version: 2.0
            Authorization: Bearer {token}
            Accept: application/xml

    + Body

            <?xml version="1.0" encoding="UTF-8"?>
            <lote_de_validacoes>
              <veiculo>
                <id>2655581f-1d78-47d7-95de-75234d28b53e</id>
              </veiculo>
              <monitoramento>true</monitoramento>
              <disponibilizacao_arquivo_retorno>true</disponibilizacao_arquivo_retorno>
              <aguardar_documentos>true</aguardar_documentos>
              <buscar_documentos>true</buscar_documentos>
              <validacoes>
                <validacao>
                  <recebivel>
                    <identificador>
                      <numero>ABC-123</numero>
                    </identificador>
                    <vencimento>2017-12-31</vencimento>
                    <valor>1999.90</valor>
                    <tipo>cheque</tipo>
                    <banco>001</banco>
                    <agencia>1234</agencia>
                    <conta>123456</conta>
                    <cmc7>001123421231234565100001234563</cmc7>
                    <data_emissao>2017-06-01</data_emissao>
                    <partes>
                      <originador>
                        <documento>
                          <identificador>
                            <numero>10.418.053/0001-80</numero>
                          </identificador>
                          <tipo>cnpj</tipo>
                        </documento>
                      </originador>
                      <pagador>
                        <documento>
                          <identificador>
                            <numero>10.418.053/0001-80</numero>
                          </identificador>
                          <tipo>cnpj</tipo>
                        </documento>
                      </pagador>
                    </partes>
                  </recebivel>
                  <cedente>
                    <documento>
                      <identificador>
                        <numero>10.418.053/0001-80</numero>
                      </identificador>
                      <tipo>cnpj</tipo>
                    </documento>
                  </cedente>
                  <referencia_externa></referencia_externa>
                </validacao>
              </validacoes>
            </lote_de_validacoes>

+ Request XML - Nota Promissória (application/xml)

    + Headers

            x-api-version: 2.0
            Authorization: Bearer {token}
            Accept: application/xml

    + Body

            <?xml version="1.0" encoding="UTF-8"?>
            <lote_de_validacoes>
              <veiculo>
                <id>2655581f-1d78-47d7-95de-75234d28b53e</id>
              </veiculo>
              <monitoramento>true</monitoramento>
              <disponibilizacao_arquivo_retorno>true</disponibilizacao_arquivo_retorno>
              <aguardar_documentos>true</aguardar_documentos>
              <buscar_documentos>true</buscar_documentos>
              <validacoes>
                <validacao>
                  <recebivel>
                    <identificador>
                      <numero>ABC-123</numero>
                    </identificador>
                    <vencimento>2017-12-31</vencimento>
                    <valor>1999.90</valor>
                    <tipo>nota_promissoria</tipo>
                    <data_emissao>2017-06-01</data_emissao>
                    <partes>
                      <originador>
                        <documento>
                          <identificador>
                            <numero>10.418.053/0001-80</numero>
                          </identificador>
                          <tipo>cnpj</tipo>
                        </documento>
                      </originador>
                      <pagador>
                        <documento>
                          <identificador>
                            <numero>10.418.053/0001-80</numero>
                          </identificador>
                          <tipo>cnpj</tipo>
                        </documento>
                      </pagador>
                    </partes>
                  </recebivel>
                  <cedente>
                    <documento>
                      <identificador>
                        <numero>10.418.053/0001-80</numero>
                      </identificador>
                      <tipo>cnpj</tipo>
                    </documento>
                  </cedente>
                  <referencia_externa></referencia_externa>
                </validacao>
              </validacoes>
            </lote_de_validacoes>

+ Request XML - Conhecimento de Transporte Eletrônico (application/xml)

    + Headers

            x-api-version: 2.0
            Authorization: Bearer {token}
            Accept: application/xml
            
    + Body
    
            <?xml version="1.0" encoding="UTF-8"?>
            <lote_de_validacoes>
              <veiculo>
                <id>5a929e55-105d-4ad0-863a-dc9924c08609</id>
              </veiculo>
              <monitoramento>true</monitoramento>
              <disponibilizacao_arquivo_retorno>true</disponibilizacao_arquivo_retorno>
              <aguardar_documentos>true</aguardar_documentos>
              <validacoes>
                <validacao>
                  <recebivel>
                    <identificador>
                      <numero>759271</numero>
                    </identificador>
                    <vencimento>2020-10-23</vencimento>
                    <valor>1487.00</valor>
                    <tipo>duplicata_servico_cte</tipo>
                    <documento_fiscal>
                      <identificador>
                        <numero>4316 0287 8642 3700 0522 5500 1000 1523 7515 0521 0080</numero>
                      </identificador>
                      <tipo>cte</tipo>
                    </documento_fiscal>
                    <partes>
                      <originador>
                        <documento>
                          <identificador>
                            <numero>10.418.053/0001-80</numero>
                          </identificador>
                          <tipo>cnpj</tipo>
                        </documento>
                      </originador>
                      <pagador>
                        <documento>
                          <identificador>
                            <numero>10.418.053/0001-80</numero>
                          </identificador>
                          <tipo>cnpj</tipo>
                        </documento>
                      </pagador>
                    </partes>
                  </recebivel>
                  <cedente>
                    <documento>
                      <identificador>
                        <numero>10.418.053/0001-80</numero>
                      </identificador>
                      <tipo>cnpj</tipo>
                    </documento>
                  </cedente>
                  <referencia_externa></referencia_externa>
                </validacao>
              </validacoes>
            </lote_de_validacoes>

+ Request JSON - Duplicata Mercantil (application/json)

    + Headers

            x_api_version: 2.0
            Authorization: Bearer {token}
            Accept: application/json

    + Body

              {
                "veiculo": {
                  "id": "2655581f-1d78-47d7-95de-75234d28b53e"
                },
                "monitoramento": true,
                "disponibilizacao_arquivo_retorno": true,
                "aguardar_documentos":true,
                "buscar_documentos":true,
                "validacoes": [
                  {
                    "recebivel": {
                      "tipo": "duplicata_mercantil",
                      "identificador": {
                        "numero": "ABC-123"
                      },
                      "vencimento": "2016-12-24",
                      "valor": 1999.90,
                      "documento_fiscal": {
                        "identificador": {
                          "numero": "4316 0287 8642 3700 0522 5500 1000 1523 7515 0521 0080"
                        },
                        "tipo": "nfe"
                      },
                      "partes": {
                        "originador": {
                          "documento": {
                            "identificador": {
                              "numero": "10.418.053/0001-80"
                            },
                            "tipo": "cnpj"
                          }
                        },
                        "pagador": {
                          "documento": {
                            "identificador": {
                              "numero": "10.418.053/0001-80"
                            },
                            "tipo": "cnpj"
                          }
                        }
                      }
                    },
                    "cedente": {
                      "documento": {
                        "identificador": {
                          "numero": "10.418.053/0001-80"
                        },
                        "tipo": "cnpj"
                      }
                    },
                    "referencia_externa": ""
                  }
                ]
              }

+ Request JSON - Duplicata de Serviço (application/json)

    + Headers

            x_api_version: 2.0
            Authorization: Bearer {token}
            Accept: application/json

    + Body

              {
                "veiculo": {
                  "id": "2655581f-1d78-47d7-95de-75234d28b53e"
                },
                "monitoramento": true,
                "disponibilizacao_arquivo_retorno": true,
                "aguardar_documentos":true,
                "buscar_documentos":true,
                "validacoes": [
                  {
                    "recebivel": {
                      "tipo": "duplicata_servico",
                      "valor": "1999.90",
                      "vencimento": "2017-12-31",
                      "identificador": {
                        "numero": "ABC-123"
                      },
                      "documento_fiscal": {
                        "identificador": {
                          "numero": "12545878"
                        },
                        "tipo": "nfs"
                      },
                      "partes": {
                        "originador": {
                          "documento": {
                            "identificador": {
                              "numero": "10.418.053/0001-80"
                            },
                            "tipo": "cnpj"
                          }
                        },
                        "pagador": {
                          "documento": {
                            "identificador": {
                              "numero": "10.418.053/0001-80"
                            },
                            "tipo": "cnpj"
                          }
                        }
                      }
                    },
                    "cedente": {
                      "documento": {
                        "identificador": {
                          "numero": "10.418.053/0001-80"
                        },
                        "tipo": "cnpj"
                      }
                    },
                    "referencia_externa": ""
                  }
                ]
              }

+ Request JSON - Contrato (application/json)

    + Headers

            x_api_version: 2.0
            Authorization: Bearer {token}
            Accept: application/json

    + Body

              {
                "veiculo": {
                  "id": "2655581f-1d78-47d7-95de-75234d28b53e"
                },
                "monitoramento": true,
                "disponibilizacao_arquivo_retorno": true,
                "aguardar_documentos":true,
                "buscar_documentos":true,
                "validacoes": [
                  {
                    "recebivel": {
                      "tipo": "contrato",
                      "valor": "200.00",
                      "vencimento": "2017-12-31",
                      "identificador": {
                        "numero": "1"
                      },
                      "valor_total": "1200.00",
                      "quantidade_parcelas": "6",
                      "data_celebracao": "2017-12-31",
                      "numero_contrato": "CONT-123",
                      "partes": {
                        "originador": {
                          "documento": {
                            "identificador": {
                              "numero": "10.418.053/0001-80"
                            },
                            "tipo": "cnpj"
                          }
                        },
                        "pagador": {
                          "documento": {
                            "identificador": {
                              "numero": "10.418.053/0001-80"
                            },
                            "tipo": "cnpj"
                          }
                        }
                      }
                    },
                    "cedente": {
                      "documento": {
                        "identificador": {
                          "numero": "10.418.053/0001-80"
                        },
                        "tipo": "cnpj"
                      }
                    },
                    "referencia_externa": ""
                  }
                ]
              }

+ Request JSON - Cheque (application/json)

    + Headers

            x_api_version: 2.0
            Authorization: Bearer {token}
            Accept: application/json

    + Body

              {
                "veiculo": {
                  "id": "2655581f-1d78-47d7-95de-75234d28b53e"
                },
                "monitoramento": true,
                "disponibilizacao_arquivo_retorno": true,
                "aguardar_documentos":true,
                "buscar_documentos":true,
                "validacoes": [
                  {
                    "recebivel": {
                      "tipo": "cheque",
                      "valor": "1999.90",
                      "vencimento": "2017-12-31",
                      "identificador": {
                        "numero": "ABC-123"
                      },
                      "banco": "001",
                      "agencia": "1234",
                      "conta": "123456",
                      "cmc7": "001123421231234565100001234563",
                      "data_emissao": "2017-06-01",
                      "partes": {
                        "originador": {
                          "documento": {
                            "identificador": {
                              "numero": "10.418.053/0001-80"
                            },
                            "tipo": "cnpj"
                          }
                        },
                        "pagador": {
                          "documento": {
                            "identificador": {
                              "numero": "10.418.053/0001-80"
                            },
                            "tipo": "cnpj"
                          }
                        }
                      }
                    },
                    "cedente": {
                      "documento": {
                        "identificador": {
                          "numero": "10.418.053/0001-80"
                        },
                        "tipo": "cnpj"
                      }
                    },
                    "referencia_externa": ""
                  }
                ]
              }

+ Request JSON - Nota Promissória (application/json)

    + Headers

            x_api_version: 2.0
            Authorization: Bearer {token}
            Accept: application/json

    + Body

              {
                "veiculo": {
                  "id": "2655581f-1d78-47d7-95de-75234d28b53e"
                },
                "monitoramento": true,
                "disponibilizacao_arquivo_retorno": true,
                "aguardar_documentos":true,
                "buscar_documentos":true,
                "validacoes": [
                  {
                    "recebivel": {
                      "tipo": "nota_promissoria",
                      "valor": "1999.90",
                      "vencimento": "2017-12-31",
                      "identificador": {
                        "numero": "ABC-123"
                      },
                      "data_emissao": "2017-06-01",
                      "partes": {
                        "originador": {
                          "documento": {
                            "identificador": {
                              "numero": "10.418.053/0001-80"
                            },
                            "tipo": "cnpj"
                          }
                        },
                        "pagador": {
                          "documento": {
                            "identificador": {
                              "numero": "10.418.053/0001-80"
                            },
                            "tipo": "cnpj"
                          }
                        }
                      }
                    },
                    "cedente": {
                      "documento": {
                        "identificador": {
                          "numero": "10.418.053/0001-80"
                        },
                        "tipo": "cnpj"
                      }
                    },
                    "referencia_externa": ""
                  }
                ]
              }
              
+ Request JSON - Conhecimento de Transporte Eletrônico (application/json)

    + Headers

            x_api_version: 2.0
            Authorization: Bearer {token}
            Accept: application/json
            
    + Body
    
            {
                "veiculo": {
                  "id": "2655581f-1d78-47d7-95de-75234d28b53e"
                },
                "monitoramento": true,
                "disponibilizacao_arquivo_retorno": true,
                "aguardar_documentos":true,
                "validacoes": [
                  {
                    "recebivel": {
                      "tipo": "duplicata_servico_cte",
                      "valor": "1999.90",
                      "vencimento": "2017-12-31",
                      "identificador": {
                        "numero": "ABC-123"
                      },
                      "documento_fiscal": {
                        "identificador": {
                          "numero": "4316 0287 8642 3700 0522 5500 1000 1523 7515 0521 0080"
                        },
                        "tipo": "cte"
                      },
                      "partes": {
                        "originador": {
                          "documento": {
                            "identificador": {
                              "numero": "10.418.053/0001-80"
                            },
                            "tipo": "cnpj"
                          }
                        },
                        "pagador": {
                          "documento": {
                            "identificador": {
                              "numero": "10.418.053/0001-80"
                            },
                            "tipo": "cnpj"
                          }
                        }
                      }
                    },
                    "cedente": {
                      "documento": {
                        "identificador": {
                          "numero": "10.418.053/0001-80"
                        },
                        "tipo": "cnpj"
                      }
                    },
                    "referencia_externa": ""
                  }
                ]
              }

+ Response 201
    Em caso de sucesso o identificador `id` do lote de Avaliações criado será retornado no header da resposta

    + Headers

            Location: {lote-id}

+ Response 422 (application/xml)

    Parâmetros inválidos - XML

    + Attributes

        + `erros` (array[ValidacaoEmLoteErrosDeValidacao]) - Erros de validação dos parâmetros enviados.

    + Body

            <?xml version="1.0" encoding="UTF-8"?>
            <erros>
              <erro>[nome_do_campo_1] erro 1</erro>
              <erro>[nome_do_campo_1] erro 2</erro>
              <erro>[nome_do_campo_2] erro 3</erro>
            </erros>

+ Response 422 (application/json)

    Parâmetros inválidos - JSON

    + Body

            {
              "erros": [
                "[nome_do_campo_1] erro 1",
                "[nome_do_campo_1] erro 2",
                "[nome_do_campo_2] erro 3"
              ]
            }

+ Response 400

    Requisição Inválida

    + Body

+ Response 401 (application/xml)

    Falha de autenticação - XML

    + Attributes

        + `erros` (array[ErroDetalhadoXML]) - Lista de Erros

    + Body

            <?xml version="1.0" encoding="UTF-8"?>
            <erros>
              <erro>erro 1</erro>
              <erro>erro 2</erro>
              ...
            </erros>

+ Response 401 (application/json)

    Falha de autenticação - JSON

    + Body

            {
              "erros": [
                "erro 1",
                "erro 2",
                ...
              ]
            }

+ Response 403 (application/xml)

    Ação não permitida - XML

    + Attributes

        + `erros` (array[ErroDetalhadoXML]) - Lista de Erros

    + Body

            <?xml version="1.0" encoding="UTF-8"?>
            <erros>
              <erro>erro 1</erro>
              <erro>erro 2</erro>
              ...
            </erros>

+ Response 403 (application/json)

    Ação não permitida - JSON

    + Body

            {
              "erros": [
                "erro 1",
                "erro 2",
                ...
              ]
            }

+ Response 415

    Tipo inválido em Content-type ou Accept

    + Body

+ Response 423

    Fora do horário de funcionamento

    + Body

### Consulta de lotes de Avaliações [GET /lotes-de-validacoes/{lote_id}]

Serviço para consultar o processamento de um lote de Avaliações. Através deste serviço, é possível consultar quantos itens foram enviados, quantos puderam ser consistidos por conterem informações válidas e quantos não puderam ser consistidos.

+ Request XML

    + Headers

            Accept: application/xml
            Authorization: Bearer {token}
            x-api-version: 2.0

+ Request JSON

    + Headers

            Accept: application/json
            Authorization: Bearer {token}
            x-api-version: 2.0

+ Parameters

    +  `lote_id` - Identificador do lote de Avaliações, retornado na resposta à solicitação de Avaliação de Direitos Creditórios em lote `POST /lotes_de_validacoes`. Também pode ser consultado na busca de Avaliações `POST /validacoes/busca-de-duplicatas`, em uma das Avaliações que tenham sido criadas a partir deste lote.

+ Response 200 (application/xml)
    Em caso de sucesso - XML

    + Attributes

        + `lote_de_validacoes` (LoteDeValidacoesConsulta) - Dados do processamento do lote de Avaliações de Direitos Creditórios.

    + Body

            <?xml version="1.0" encoding="UTF-8"?>
            <lote_de_validacoes>
              <id>49871841-6ac0-47e6-8efc-bafbcc0c5d7b</id>
              <veiculo>
                <id>2655581f-1d78-47d7-95de-75234d28b53e</id>
                <nome>Agente</nome>
              </veiculo>
              <status>persistindo_itens</status>
              <status_arquivo_retorno>nao_solicitado</status_arquivo_retorno>
              <total_itens_recebidos>5</total_itens_recebidos>
              <total_itens_processados>1</total_itens_processados>
              <total_itens_aguardando>3</total_itens_aguardando>
              <total_itens_invalidos>1</total_itens_invalidos>
              <data_finalizacao>2017-01-18T11:58:23.070Z</data_finalizacao>
              <data_criacao>2017-01-18T11:58:23.060Z</data_criacao>
            </lote_de_validacoes>

+ Response 200 (application/json)
    Em caso de sucesso - JSON

    + Body

            {
              "id": "49871841-6ac0-47e6-8efc-bafbcc0c5d7b",
              "veiculo": {
                "id": "2655581f-1d78-47d7-95de-75234d28b53e",
                "nome": "Agente"
              }
              "status": "persistindo_itens",
              "status_arquivo_retorno": "nao_solicitado",
              "total_itens_recebidos": 5,
              "total_itens_processados": 1,
              "total_itens_aguardando": 3,
              "total_itens_invalidos": 1,
              "data_finalizacao": "2017-01-18T11:58:23.070Z",
              "data_criacao": "2017-01-18T11:58:23.060Z"
            }

+ Response 404

    Recurso não encontrado

    + Body

+ Response 415

    Tipo inválido em Content-type ou Accept

    + Body

+ Response 401 (application/xml)

    Falha de autenticação - XML

    + Attributes

        + `erros` (array[ErroDetalhadoXML]) - Lista de Erros

    + Body

            <?xml version="1.0" encoding="UTF-8"?>
            <erros>
              <erro>erro 1</erro>
              <erro>erro 2</erro>
              ...
            </erros>

+ Response 401 (application/json)

    Falha de autenticação - JSON

    + Body

            {
              "erros": [
                "erro 1",
                "erro 2",
                ...
              ]
            }

### Consulta de Avaliações inválidas [GET /lotes-de-validacoes/{lote_id}/itens-invalidos]

Serviço para consultar os erros no processamento de itens de um lote de Avaliações que continham parâmetros inválidos na solicitação de Avaliação em lote.
Através deste serviço, é possível consultar todos o itens solicitados com dados inválidos de um determinado lote e as respectivas mensagens de erro que foram emitidas durante o processamento.

+ Request XML

    + Headers

            Accept: application/xml
            Authorization: Bearer {token}
            x-api-version: 2.0

+ Request JSON

    + Headers

            Accept: application/json
            Authorization: Bearer {token}
            x-api-version: 2.0

+ Parameters

    +  `lote_id` - Identificador do lote de Avaliações, retornado na resposta à solicitação de Avaliação de Direitos Creditórios em lote `POST /lotes_de_validacoes`. Também pode ser consultado na busca de Avaliações `POST /validacoes/busca-de-duplicatas`, em uma das Avaliações que tenham sido criadas a partir deste lote.

+ Response 200 (application/xml)
    Em caso de sucesso - XML

    + Attributes

        + `itens_invalidos` (array[ValidacaoItemInvalido]) - Lista de solicitações de Avaliação recebidas no lote, cujos dados enviados na requisição continham parâmetros inválidos que, portanto, impediram a criação de uma Avaliação.

    + Body

            <?xml version="1.0" encoding="UTF-8"?>
            <itens_invalidos>
              <item_invalido>
                <erros>
                  <erro>Mensagem de erro 1</erro>
                  <erro>Mensagem de erro 2</erro>
                </erros>
                <dados>
                  <validacao>
                    <recebivel>
                      <identificador>
                        <numero>ABC-123</numero>
                      </identificador>
                      <vencimento>2017-12-31</vencimento>
                      <valor>1999.90</valor>
                      <tipo>duplicata_mercantil</tipo>
                      <documento_fiscal>
                        <identificador>
                          <numero>4316 0287 8642 3700 0522 5500 1000 1523 7515 05210080</numero>
                        </identificador>
                        <tipo>nfe</tipo>
                      </documento_fiscal>
                      <partes>
                        <originador>
                          <documento>
                            <identificador>
                              <numero>10.418.053/0001-80</numero>
                            </identificador>
                            <tipo>cnpj</tipo>
                          </documento>
                        </originador>
                        <pagador>
                          <documento>
                            <identificador>
                              <numero>10.418.053/0001-80</numero>
                            </identificador>
                            <tipo>cnpj</tipo>
                          </documento>
                        </pagador>
                      </partes>
                    </recebivel>
                    <referencia_externa></referencia_externa>
                  </validacao>
                </dados>
              </item_invalido>
            </itens_invalidos>

+ Response 200 (application/json)
    Em caso de sucesso - JSON

    + Attributes

        + `itens_invalidos` (ValidacaoItemInvalido) - Lista de solicitações de Avaliação recebidas no lote, cujos dados enviados na requisição continham parâmetros inválidos que, portanto, impediram a criação de uma Avaliação.

    + Body

            [
              {
                "erros": ["Mensagem de erro 1", "Mensagem de erro 2"],
                "dados": {
                  "recebivel": {
                    "documento_fiscal": {
                      "identificador": {
                        "numero": "4316 0287 8642 3700 0522 5500 1000 1523 7515 05210080"
                      },
                      "tipo": "nfe"
                    },
                    "identificador": {
                      "numero": "ABC-123"
                    },
                    "partes": {
                      "originador": {
                        "documento": {
                          "identificador": {
                            "numero": "10.418.053/0001-80"
                          },
                          "tipo": "cnpj"
                        }
                      },
                      "pagador": {
                        "documento": {
                          "identificador": {
                            "numero": "10.418.053/0001-80"
                          },
                          "tipo": "cnpj"
                        }
                      }
                    },
                    "tipo": "duplicata_mercantil",
                    "valor": "1999.90",
                    "vencimento": "2017-12-31"
                  },
                  "referencia_externa": ""
                }
              }
            ]

+ Response 404

    Recurso não encontrado

    + Body

+ Response 415

    Tipo inválido em Content-type ou Accept

    + Body

+ Response 401 (application/xml)

    Falha de autenticação - XML

    + Attributes

        + `erros` (array[ErroDetalhadoXML]) - Lista de Erros

    + Body

            <?xml version="1.0" encoding="UTF-8"?>
            <erros>
              <erro>erro 1</erro>
              <erro>erro 2</erro>
              ...
            </erros>

+ Response 401 (application/json)

    Falha de autenticação - JSON

    + Body

            {
              "erros": [
                "erro 1",
                "erro 2",
                ...
              ]
            }

### Consulta de Avaliações recebidas [GET /lotes-de-validacoes/{lote_id}/itens-recebidos]

Serviço para consultar todos os itens enviados para um lote de Avaliações através da solicitação de Avaliação em lote.
Através deste serviço, é possível consultar todos o itens solicitados em um determinado lote.

+ Request XML

    + Headers

            Accept: application/xml
            Authorization: Bearer {token}
            x-api-version: 2.0

+ Request JSON

    + Headers

            Accept: application/json
            Authorization: Bearer {token}
            x-api-version: 2.0

+ Parameters

    +  `lote_id` - Identificador do lote de Avaliações, retornado na resposta à solicitação de Avaliação em lote `POST /lotes_de_validacoes`. Também pode ser consultado na busca de Avaliações `POST /validacoes/busca-de-duplicatas`, em uma das Avaliações que tenham sido criadas a partir deste lote.

+ Response 200 (application/xml)
    Em caso de sucesso - XML

    + Attributes

        + `itens_recebidos` (ValidacaoItensRecebidos) - Informações sobre os itens recebidos do lote de solicistações de Avaliação.

    + Body

            <?xml version="1.0" encoding="UTF-8"?>
            <itens_recebidos>
              <dados>
                <validacao>
                  <recebivel>
                    <identificador>
                      <numero>ABC-123</numero>
                    </identificador>
                    <vencimento>2017-12-31</vencimento>
                    <valor>1999.90</valor>
                    <tipo>duplicata_mercantil</tipo>
                    <documento_fiscal>
                      <identificador>
                        <numero>4316 0287 8642 3700 0522 5500 1000 1523 7515 0521 0080</numero>
                      </identificador>
                      <tipo>nfe</tipo>
                    </documento_fiscal>
                    <partes>
                      <originador>
                        <documento>
                          <identificador>
                            <numero>10.418.053/0001-80</numero>
                          </identificador>
                          <tipo>cnpj</tipo>
                        </documento>
                      </originador>
                      <pagador>
                        <documento>
                          <identificador>
                            <numero>10.418.053/0001-80</numero>
                          </identificador>
                          <tipo>cnpj</tipo>
                        </documento>
                      </pagador>
                    </partes>
                  </recebivel>
                  <referencia_externa></referencia_externa>
                </validacao>
              </dados>
            </itens_recebidos>

+ Response 200 (application/json)
    Em caso de sucesso - JSON

    + Body

            {
              "dados": [
                {
                  "recebivel": {
                    "documento_fiscal": {
                      "identificador": {
                        "numero": "4316 0287 8642 3700 0522 5500 1000 1523 7515 0521 0080"
                      },
                      "tipo": "nfe"
                    },
                    "identificador": {
                      "numero": "ABC-123"
                    },
                    "partes": {
                      "originador": {
                        "documento": {
                          "identificador": {
                            "numero": "10.418.053/0001-80"
                          },
                          "tipo": "cnpj"
                        }
                      },
                      "pagador": {
                        "documento": {
                          "identificador": {
                            "numero": "10.418.053/0001-80"
                          },
                          "tipo": "cnpj"
                        }
                      }
                    },
                    "tipo": "duplicata_mercantil",
                    "valor": "1999.90",
                    "vencimento": "2017-12-31"
                  },
                  "referencia_externa": ""
                }
              ]
            }

+ Response 404

    Recurso não encontrado

    + Body

+ Response 415

    Tipo inválido em Content-type ou Accept

    + Body

+ Response 401 (application/xml)

    Falha de autenticação - XML

    + Attributes

        + `erros` (array[ErroDetalhadoXML]) - Lista de Erros

    + Body

            <?xml version="1.0" encoding="UTF-8"?>
            <erros>
              <erro>erro 1</erro>
              <erro>erro 2</erro>
              ...
            </erros>

+ Response 401 (application/json)

    Falha de autenticação - JSON

    + Body

            {
              "erros": [
                "erro 1",
                "erro 2",
                ...
              ]
            }

### Consulta de Arquivo de Retorno [GET /lotes-de-validacoes/{lote_id}/download]

Serviço para consultar o retorno do processamento de um lote de Avaliações em forma de arquivo xml ou json. Neste retorno serão encontradas as informações de eventos, partes, constatações, recebível e documento fiscal eletrônico das avaliações processadas.

+ Request XML

    + Headers

            Accept: application/xml
            Authorization: Bearer {token}
            x-api-version: 2.0

+ Request JSON

    + Headers

            Accept: application/json
            Authorization: Bearer {token}
            x-api-version: 2.0

+ Parameters

    +  `lote_id` - Identificador do lote de Avaliações, retornado na resposta à solicitação de Avaliação de Direitos Creditórios em lote `POST /lotes_de_validacoes`. Também pode ser consultado na busca de Avaliações `POST /validacoes/busca-de-duplicatas`, em uma das Avaliações que tenham sido criadas a partir deste lote.

+ Response 200 (application/xml)
    Em caso de sucesso - XML

    + Attributes

        + `lote_de_validacoes` (ArquivoRetornoLoteDeAvaliacoes) - Dados do processamento do lote de Avaliações de Direitos Creditórios.

    + Body

            <?xml version="1.0" encoding="UTF-8"?>
            <lote_de_validacoes>
              <validacoes>
                <validacao>
                  <id>db96b997-c05c-432d-86e7-425a12a544e2</id>
                  <data_criacao>2017-01-18t11:58:23.070Z</data_criacao>
                  <data_finalizacao>2017-01-18t11:58:30.640Z</data_finalizacao>
                  <status_de_processamento>pendente</status_de_processamento>
                  <recebivel_id>VAL-db96b997-c05c-432d-86e7-425a12a544e2</recebivel_id>
                  <referencia_externa></referencia_externa>
                  <lote_id>baa717e5-4a9b-47d3-a87c-aa112c4eb434</lote_id>
                  <veiculo>
                    <id>124gfvd</id>
                    <nome>Veiculo</nome>
                  </veiculo>
                  <eventos>
                    <evento>
                      <codigo>concluido</codigo>
                      <informacoes_complementares>
                        <descricao>descrição</descricao>
                      </informacoes_complementares>
                      <data>2017-01-01T00:00:00</data>
                    </evento>
                  </eventos>
                  <constatacoes>
                    <constatacao>
                      <id>01010000100301</id>
                      <codigo></codigo>
                      <algoritmo>
                        <id></id>
                        <codigo></codigo>
                        <nome></nome>
                        <tipo>elegibilidade_da_cessao</tipo>
                        <dimensao>credito</dimensao>
                        <escopo>dfe</escopo>
                      </algoritmo>
                      <impacto>neutro</impacto>
                      <mensagem>Operação Interestadual</mensagem>
                      <informacoes_complementares></informacoes_complementares>
                      <dados_utilizados></dados_utilizados>
                      <parametros_do_algoritmo></parametros_do_algoritmo>
                      <data_conclusao>2016-10-10T17:01:33.674Z</data_conclusao>
                    </constatacao>
                    <constatacao>
                      <id>01010000100302</id>
                      <algoritmo>
                        <id></id>
                        <codigo></codigo>
                        <nome></nome>
                        <tipo>elegibilidade_da_cessao</tipo>
                        <dimensao>credito</dimensao>
                        <escopo>dfe</escopo>
                      </algoritmo>
                      <impacto>neutro</impacto>
                      <mensagem>NF-e normal ou complementar</mensagem>
                      <informacoes_complementares></informacoes_complementares>
                      <dados_utilizados></dados_utilizados>
                      <parametros_do_algoritmo></parametros_do_algoritmo>
                      <data_conclusao>2016-10-10T17:01:33.977Z</data_conclusao>
                    </constatacao>
                  </constatacoes>
                  <partes>
                    <originador>
                      <documento>
                        <identificador>
                          <numero>12.098.345/7654-67</numero>
                        </identificador>
                        <tipo>cnpj</tipo>
                      </documento>
                      <unidade>MATRIZ</unidade>
                      <data_de_abertura>2001-01-01</data_de_abertura>
                      <atividade_economica>
                        <principal>
                          <codigo>00.01-1-00</codigo>
                          <descricao>Venda de equipamentos</descricao>
                        </principal>
                        <secundarias>
                          <secundaria>
                            <codigo>01.01-1-00</codigo>
                            <descricao>Fabricação de equipamentos</descricao>
                          </secundaria>
                          <secundaria>
                            <codigo>47.51-2-01</codigo>
                            <descricao>Comércio varejista especializado de equipamentos e suprimentos de informática</descricao>
                          </secundaria>
                          <secundaria>
                            <codigo>47.63-6-02</codigo>
                            <descricao>Comércio varejista de artigos esportivos</descricao>
                          </secundaria>
                        </secundarias>
                      </atividade_economica>
                      <capital_social>1000000.00</capital_social>
                      <efr>*****</efr>
                      <email></email>
                      <endereco>
                        <bairro>AREA COMERCIAL</bairro>
                        <cep>12.345-098</cep>
                        <complemento>CONJUNTO 1010</complemento>
                        <logradouro>CENTRAL DE RECURSOS</logradouro>
                        <municipio>VALE MINERAL</municipio>
                        <numero>39</numero>
                        <uf>AC</uf>
                      </endereco>
                      <natureza_juridica>
                        <codigo>206-2</codigo>
                        <descricao>SOCIEDADE EMPRESARIA LIMITADA</descricao>
                      </natureza_juridica>
                      <nome_fantasia>FABRICA BRASILEIRA</nome_fantasia>
                      <socios>
                        <socio>
                          <nome>JOAO BORGES</nome>
                          <qualificacao>49-Sócio-Administrador</qualificacao>
                        </socio>
                      </socios>
                      <razao_social>INDUSTRIA E COMERCIO DE RECURSOS COMERCIAIS LTDA.</razao_social>
                      <situacao_cadastral>
                        <status>ATIVA</status>
                        <data>2005-01-01</data>
                        <observacoes></observacoes>
                      </situacao_cadastral>
                      <situacao_especial>
                        <status>********</status>
                        <data>********</data>
                      </situacao_especial>
                      <telefones>
                        <telefone>(01) 9283-74651</telefone>
                      </telefones>
                    </originador>
                    <pagador>
                      <documento>
                        <identificador>
                          <numero>000.000.000-12</numero>
                        </identificador>
                        <tipo>cpf</tipo>
                      </documento>
                      <nome>ROSANE APARECIDA PARIZ BURRI</nome>
                      <endereco>
                        <logradouro>R PADRE ORACIO</logradouro>
                        <numero>200</numero>
                        <bairro>VILA LENZI</bairro>
                        <complemento></complemento>
                        <cep>89252-100</cep>
                        <municipio>JARAGUA DO SUL</municipio>
                        <uf>SC</uf>
                      </endereco>
                      <telefones>
                        <telefone>(47) 9616-6656</telefone>
                      </telefones>
                      <email>lala@lala.com.br</email>
                    </pagador>
                  </partes>
                  <recebivel>
                    <identificador>
                      <numero>ABC-123</numero>
                    </identificador>
                    <vencimento>2017-12-31</vencimento>
                    <valor>1999.90</valor>
                    <tipo>duplicata_mercantil</tipo>
                    <documento_fiscal>
                      <identificador>
                        <numero>4316 0287 8642 3700 0522 5500 1000 1523 7515 0521 0080</numero>
                      </identificador>
                      <tipo>nfe</tipo>
                    </documento_fiscal>
                    <partes>
                      <originador>
                        <documento>
                          <identificador>
                            <numero>10.418.053/0001-80</numero>
                          </identificador>
                          <tipo>cnpj</tipo>
                        </documento>
                      </originador>
                      <pagador>
                        <documento>
                          <identificador>
                            <numero>10.418.053/0001-80</numero>
                          </identificador>
                          <tipo>cnpj</tipo>
                        </documento>
                      </pagador>
                    </partes>
                    <situacao_de_disponibilidade>
                      <cerc>sem_comprometimento</cerc>
                    </situacao_de_disponibilidade>
                  </recebivel>
                  <documento_fiscal>
                      <identificador>
                          <numero>4316 0287 8642 3700 0522 5500 1000 1523 7515 0521 0080</numero>
                      </identificador>
                      <tipo>nfe</tipo>
                      <data_da_consulta>2017-04-28T18:56:07Z</data_da_consulta>
                      <dados>
                          <chave_acesso>12-3456-78.909.876/5432-10-12-345-678.909.876-543.210.123-4</chave_acesso>
                          <cobranca>
                              <fatura>
                                  <numero>0000000</numero>
                                  <valor_original>10.000,10</valor_original>
                                  <valor_desconto>0,10</valor_desconto>
                                  <valor_liquido>10.000,00</valor_liquido>
                                  <normalizado_valor_original>10000.1</normalizado_valor_original>
                                  <normalizado_valor_desconto>0.1</normalizado_valor_desconto>
                                  <normalizado_valor_liquido>10000</normalizado_valor_liquido>
                              </fatura>
                              <duplicatas>
                                  <duplicata>
                                      <numero>123456-78</numero>
                                      <vencimento>01/12/2016</vencimento>
                                      <normalizado_vencimento>2016-12-01</normalizado_vencimento>
                                      <valor>5.000,00</valor>
                                      <normalizado_valor>5000.00</normalizado_valor>
                                  </duplicata>
                              </duplicatas>
                          </cobranca>
                          <destinatario>
                              <nome>RAZÃO SOCIAL DA EMPRESA</nome>
                              <endereco>AVENIDA COMERCIAL, 201</endereco>
                              <bairro>PRACA CENTRAL</bairro>
                              <cep>01234-567</cep>
                              <municipio>0000000 - AGUAS BRANCAS</municipio>
                              <cod_municipio>0000000</cod_municipio>
                              <desc_municipio>AGUAS BRANCAS</desc_municipio>
                              <telefone>(01)98765-4321</telefone>
                              <uf>AC</uf>
                              <pais>1058 - BRASIL</pais>
                              <cod_pais>1058</cod_pais>
                              <desc_pais>BRASIL</desc_pais>
                              <indicador_ie>01 - Contribuinte ICMS (informar a IE do destinatário)</indicador_ie>
                              <cod_indicador_ie>1</cod_indicador_ie>
                              <desc_indicador_ie>Contribuinte ICMS (informar a IE do destinatário)</desc_indicador_ie>
                              <ie>123456789</ie>
                              <suframa></suframa>
                              <im></im>
                              <email>comercial@fantasia.com.br</email>
                              <normalizado_cnpj>01234567890123</normalizado_cnpj>
                              <normalizado_cpf></normalizado_cpf>
                              <normalizado_cep>01234567</normalizado_cep>
                              <normalizado_municipio>0</normalizado_municipio>
                              <normalizado_telefone>01987654321</normalizado_telefone>
                              <normalizado_pais>1058</normalizado_pais>
                              <normalizado_indicador_ie>1</normalizado_indicador_ie>
                              <document>
                                  <number>01.234.567/0008-09</number>
                                  <type>cnpj</type>
                              </document>
                              <abertura_data />
                              <situacao_cadastral_data />
                              <situacao_especial_data />
                              <normalizado_abertura_data />
                              <normalizado_situacao_cadastral_data />
                              <normalizado_situacao_especial_data />
                              <consulta_datahora />
                              <normalizado_consulta_datahora />
                              <qsa/>
                          </destinatario>
                          <emitente>
                              <nome>COMERCIO DE OBJETOS LTDA.</nome>
                              <nome_fantasia>OBJETOCOM</nome_fantasia>
                              <endereco>AVENIDA COMERCIAL, 102</endereco>
                              <bairro>PRACA CENTRAL</bairro>
                              <cep>01234-567</cep>
                              <municipio>0000000 - AGUAS BRANCAS</municipio>
                              <cod_municipio>0000000</cod_municipio>
                              <desc_municipio>AGUAS BRANCAS</desc_municipio>
                              <telefone>(01)97531-2468</telefone>
                              <uf>AC</uf>
                              <pais>1058 - BRASIL</pais>
                              <cod_pais>1058</cod_pais>
                              <desc_pais>BRASIL</desc_pais>
                              <ie>987654321</ie>
                              <ie_substituto></ie_substituto>
                              <inscricao_municipal>1400000024</inscricao_municipal>
                              <municipio_icms>0000000</municipio_icms>
                              <cod_municipio_icms>0000000</cod_municipio_icms>
                              <cnae>2342701</cnae>
                              <regime>3 - Regime Normal</regime>
                              <cod_regime>3</cod_regime>
                              <desc_regime>Regime Normal</desc_regime>
                              <normalizado_cnpj>32109876543210</normalizado_cnpj>
                              <normalizado_cep>01234567</normalizado_cep>
                              <normalizado_municipio>0</normalizado_municipio>
                              <normalizado_telefone>01975312468</normalizado_telefone>
                              <normalizado_pais>1058</normalizado_pais>
                              <normalizado_regime>3</normalizado_regime>
                              <document>
                                  <number>04.234.567/0008-09</number>
                                  <type>cnpj</type>
                              </document>
                              <abertura_data />
                              <situacao_cadastral_data />
                              <situacao_especial_data />
                              <normalizado_abertura_data />
                              <normalizado_situacao_cadastral_data />
                              <normalizado_situacao_especial_data />
                              <consulta_datahora />
                              <normalizado_consulta_datahora />
                              <qsa/>
                          </emitente>
                          <info_adicionais>
                              <formato_impressao>1 - DANFE normal, retrato</formato_impressao>
                              <cod_formato_impressao>1</cod_formato_impressao>
                              <desc_formato_impressao>DANFE normal, retrato</desc_formato_impressao>
                              <informacoes_fisco></informacoes_fisco>
                              <informacoes_complementares></informacoes_complementares>
                              <normalizado_formato_impressao>1</normalizado_formato_impressao>
                              <compra>
                                  <nota_empenho />
                                  <pedido />
                                  <contrato />
                              </compra>
                          </info_adicionais>
                          <local>
                              <cnpj />
                              <cpf />
                              <endereco />
                              <bairro />
                              <municipio />
                              <cod_municipio />
                              <desc_municipio />
                              <uf />
                              <normalizado_cnpj />
                              <normalizado_cpf />
                              <normalizado_municipio />
                          </local>
                          <nfe>
                              <modelo>12</modelo>
                              <cod_modelo_documento_fiscal>55</cod_modelo_documento_fiscal>
                              <desc_modelo_documento_fiscal>Nota Fiscal Eletrônica – NF-e</desc_modelo_documento_fiscal>
                              <serie>344</serie>
                              <numero>00000</numero>
                              <data_emissao>2016-03-23T23:31:50Z</data_emissao>
                              <normalizado_data_emissao>2016-03-23T23:31:50Z</normalizado_data_emissao>
                              <data_saida_entrada>2016-03-23T23:31:50Z</data_saida_entrada>
                              <normalizado_data_saida_entrada>2016-03-23T23:31:50Z</normalizado_data_saida_entrada>
                              <valor_total>5.000,00</valor_total>
                              <normalizado_valor_total>5103.34</normalizado_valor_total>
                              <emitente>
                                  <nome>COMERCIO DE OBJETOS LTDA.</nome>
                                  <ie>987654321</ie>
                                  <uf>AC</uf>
                                  <normalizado_cnpj>01234567000809</normalizado_cnpj>
                                  <document>
                                      <number>01.234.567/0008-09</number>
                                      <type>cnpj</type>
                                  </document>
                                  <abertura_data />
                                  <situacao_cadastral_data />
                                  <situacao_especial_data />
                                  <normalizado_abertura_data />
                                  <normalizado_situacao_cadastral_data />
                                  <normalizado_situacao_especial_data />
                                  <consulta_datahora />
                                  <normalizado_consulta_datahora />
                                  <qsa/>
                              </emitente>
                              <destinatario>
                                  <nome>RAZÃO SOCIAL DA EMPRESA</nome>
                                  <ie>123456789</ie>
                                  <uf>AC</uf>
                                  <destino_operacao>1 - Operação Interna</destino_operacao>
                                  <cod_destino_operacao>1</cod_destino_operacao>
                                  <desc_destino_operacao>Operação Interna</desc_destino_operacao>
                                  <consumidor_final>0 - Normal</consumidor_final>
                                  <cod_consumidor_final>0</cod_consumidor_final>
                                  <desc_consumidor_final>Normal</desc_consumidor_final>
                                  <presenca_comprador>9 - Operação não presencial (outros)</presenca_comprador>
                                  <cod_presenca_comprador>9</cod_presenca_comprador>
                                  <desc_presenca_comprador>Operação não presencial (outros)</desc_presenca_comprador>
                                  <normalizado_cnpj>04234567000809</normalizado_cnpj>
                                  <normalizado_cpf></normalizado_cpf>
                                  <normalizado_destino_operacao>1</normalizado_destino_operacao>
                                  <normalizado_consumidor_final>0</normalizado_consumidor_final>
                                  <normalizado_presenca_comprador>9</normalizado_presenca_comprador>
                                  <document>
                                      <number>04.234.567/0008-09</number>
                                      <type>cnpj</type>
                                  </document>
                                  <abertura_data />
                                  <situacao_cadastral_data />
                                  <situacao_especial_data />
                                  <normalizado_abertura_data />
                                  <normalizado_situacao_cadastral_data />
                                  <normalizado_situacao_especial_data />
                                  <consulta_datahora />
                                  <normalizado_consulta_datahora />
                                  <qsa/>
                              </destinatario>
                              <emissao>
                                  <processo>0 - com aplicativo do Contribuinte</processo>
                                  <cod_processo>0</cod_processo>
                                  <desc_processo>com aplicativo do Contribuinte</desc_processo>
                                  <versao>PROMOB_2_05</versao>
                                  <tipo>1 - Normal</tipo>
                                  <cod_tipo>1</cod_tipo>
                                  <desc_tipo>Normal</desc_tipo>
                                  <finalidade>1 - Normal</finalidade>
                                  <cod_finalidade>1</cod_finalidade>
                                  <desc_finalidade>Normal</desc_finalidade>
                                  <natureza_operacao>VENDA</natureza_operacao>
                                  <tipo_operacao>1 - Saída</tipo_operacao>
                                  <cod_tipo_operacao>1</cod_tipo_operacao>
                                  <desc_tipo_operacao>Saída</desc_tipo_operacao>
                                  <forma_pagamento>1 - A prazo</forma_pagamento>
                                  <cod_forma_pagamento>1</cod_forma_pagamento>
                                  <desc_forma_pagamento>A prazo</desc_forma_pagamento>
                                  <digest>a840=vytMU-nrm4VE.EN9</digest>
                                  <normalizado_processo>0</normalizado_processo>
                                  <normalizado_tipo>1</normalizado_tipo>
                                  <normalizado_finalidade>1</normalizado_finalidade>
                                  <normalizado_tipo_operacao>1</normalizado_tipo_operacao>
                                  <normalizado_forma_pagamento>1</normalizado_forma_pagamento>
                              </emissao>
                              <situacao>AUTORIZADA</situacao>
                              <situacao_ambiente>produção</situacao_ambiente>
                              <eventos>
                                  <evento>
                                      <evento>Autorização de Uso</evento>
                                      <protocolo>01010101010</protocolo>
                                      <data_autorizacao>2016-03-23T23:40:22Z</data_autorizacao>
                                      <normalizado_data_autorizacao>2016-03-23T23:40:22Z</normalizado_data_autorizacao>
                                      <data_inclusao>2018-06-20T20:50:15Z</data_inclusao>
                                      <normalizado_data_inclusao>2018-06-20T20:50:15Z</normalizado_data_inclusao>
                                      <info>
                                          <orgao></orgao>
                                          <cod_orgao></cod_orgao>
                                          <desc_orgao></desc_orgao>
                                          <ambiente></ambiente>
                                          <cod_ambiente></cod_ambiente>
                                          <desc_ambiente></desc_ambiente>
                                          <versao></versao>
                                          <chave_acesso></chave_acesso>
                                          <id></id>
                                          <autor></autor>
                                          <data></data>
                                          <normalizado_data></normalizado_data>
                                          <tipo></tipo>
                                          <cod_tipo></cod_tipo>
                                          <desc_tipo></desc_tipo>
                                          <sequencial></sequencial>
                                      </info>
                                      <detalhes>
                                          <descricao></descricao>
                                          <versao></versao>
                                          <texto></texto>
                                          <justificativa></justificativa>
                                      </detalhes>
                                      <autorizacao_sefaz>
                                          <mensagem></mensagem>
                                          <cod_mensagem></cod_mensagem>
                                          <desc_mensagem></desc_mensagem>
                                          <protocolo></protocolo>
                                          <datahora></datahora>
                                          <normalizado_datahora></normalizado_datahora>
                                      </autorizacao_sefaz>
                                      <condicoes_uso>
                                          <descricao></descricao>
                                      </condicoes_uso>
                                  </evento>
                              </eventos>
                          </nfe>
                          <normalizado_chave_acesso>12345678909876543210123456789098765432101234</normalizado_chave_acesso>
                          <produtos>
                              <produto>
                                  <num>1</num>
                                  <descricao>PRODUTO CATALOGADO NA LOJA</descricao>
                                  <qtd>1</qtd>
                                  <unidade>UN</unidade>
                                  <valor>10.000,10</valor>
                                  <normalizado_valor>10000.1</normalizado_valor>
                                  <codigo>01234-123</codigo>
                                  <ncm>00012345</ncm>
                                  <desc_ncm>Produto do tipo X</desc_ncm>
                                  <cest />
                                  <ex_tipi />
                                  <cfop>0000</cfop>
                                  <desc_cfop>Descrição do CFOP</desc_cfop>
                                  <outras_despesas />
                                  <normalizado_outras_despesas>0</normalizado_outras_despesas>
                                  <valor_desconto />
                                  <normalizado_valor_desconto>0</normalizado_valor_desconto>
                                  <valor_frete />
                                    <normalizado_valor_frete>0</normalizado_valor_frete>
                                  <valor_seguro />
                                  <normalizado_valor_seguro>0</normalizado_valor_seguro>
                                  <composicao_valor>1 - O valor do item (vProd) compõe o valor total da NF-e (vProd)</composicao_valor>
                                  <cod_composicao_valor>1</cod_composicao_valor>
                                  <desc_composicao_valor>O valor do item (vProd) compõe o valor total da NFe (vProd)</desc_composicao_valor>
                                  <ean_comercial>012321123</ean_comercial>
                                  <unidade_comercial>UN</unidade_comercial>
                                  <quantidade_comercial>1,0000</quantidade_comercial>
                                  <normalizado_quantidade_comercial>1</normalizado_quantidade_comercial>
                                  <ean_tributavel>011010101</ean_tributavel>
                                  <unidade_tributavel>UN</unidade_tributavel>
                                  <quantidade_tributavel>1,0000</quantidade_tributavel>
                                  <normalizado_quantidade_tributavel>1</normalizado_quantidade_tributavel>
                                  <valor_unitario_comercial>10.000,1000000000</valor_unitario_comercial>
                                  <normalizado_valor_unitario_comercial>10000.00</normalizado_valor_unitario_comercial>
                                  <valor_unitario_tributavel>10.000,1000000000</valor_unitario_tributavel>
                                  <normalizado_valor_unitario_tributavel>10000.00</normalizado_valor_unitario_tributavel>
                                  <numero_pedido />
                                  <item_pedido />
                                  <tributos>0,00</tributos>
                                  <normalizado_tributos>0</normalizado_tributos>
                                  <fci />
                                  <icms>
                                      <origem_mercadoria>0 - Nacional</origem_mercadoria>
                                      <cod_origem_mercadoria>0</cod_origem_mercadoria>
                                      <desc_origem_mercadoria>Nacional</desc_origem_mercadoria>
                                      <tributacao_icms>00 - Tributada integralmente</tributacao_icms>
                                      <cod_tributacao_icms>00</cod_tributacao_icms>
                                      <desc_tributacao_icms>Tributada integralmente</desc_tributacao_icms>
                                      <modalidade>3 - Valor da Operação</modalidade>
                                      <cod_modalidade>3</cod_modalidade>
                                      <desc_modalidade>Valor da Operação</desc_modalidade>
                                      <uf />
                                  </icms>
                                  <pis>
                                      <cst>01 - Operação Tributável (base de cálculo = valor da operação alíquota normal (cumulativo/não cumulativo))</cst>
                                      <cod_cst>01</cod_cst>
                                      <desc_cst>Operação Tributável (base de cálculo = valor da operação alíquota normal (cumulativo/não cumulativo))</desc_cst>
                                      <base_calculo>00,00</base_calculo>
                                      <aliquota>0,0000</aliquota>
                                      <normalizado_aliquota>0.00</normalizado_aliquota>
                                      <valor>0,00</valor>
                                      <normalizado_valor>0.00</normalizado_valor>
                                  </pis>
                                  <cofins>
                                      <cst>01 - Operação Tributável (base de cálculo = valor da operação alíquota normal (cumulativo/não cumulativo))</cst>
                                      <cod_cst>01</cod_cst>
                                      <desc_cst>Operação Tributável (base de cálculo = valor da operação alíquota normal (cumulativo/não cumulativo))</desc_cst>
                                      <base_calculo>00,00</base_calculo>
                                      <normalizado_base_calculo>0.00</normalizado_base_calculo>
                                      <aliquota>0,0000</aliquota>
                                      <normalizado_aliquota>0.00</normalizado_aliquota>
                                      <valor>0,00</valor>
                                      <normalizado_valor>0.00</normalizado_valor>
                                  </cofins>
                                  <info_adicionais />
                                  <especifico_veiculos_novos>
                                      <tipo_operacao></tipo_operacao>
                                      <cod_tipo_operacao></cod_tipo_operacao>
                                      <desc_tipo_operacao></desc_tipo_operacao>
                                      <chassi></chassi>
                                      <cilindradas></cilindradas>
                                      <cor></cor>
                                      <cor_descricao></cor_descricao>
                                      <cor_codigo></cor_codigo>
                                      <cod_cor></cod_cor>
                                      <desc_cor></desc_cor>
                                      <peso_liquido></peso_liquido>
                                      <normalizado_peso_liquido></normalizado_peso_liquido>
                                      <peso_bruto></peso_bruto>
                                      <normalizado_peso_bruto></normalizado_peso_bruto>
                                      <serie></serie>
                                      <tipo_combustivel></tipo_combustivel>
                                      <cod_tipo_combustivel></cod_tipo_combustivel>
                                      <desc_tipo_combustivel></desc_tipo_combustivel>
                                      <numero_motor></numero_motor>
                                      <capacidade_maxima_tracao></capacidade_maxima_tracao>
                                      <distancia_eixos></distancia_eixos>
                                      <ano_modelo></ano_modelo>
                                      <ano_fabricacao></ano_fabricacao>
                                      <tipo_pintura></tipo_pintura>
                                      <tipo_veiculo></tipo_veiculo>
                                      <especie></especie>
                                      <cod_especie></cod_especie>
                                      <desc_especie></desc_especie>
                                      <condicao_vin></condicao_vin>
                                      <cod_condicao_vin></cod_condicao_vin>
                                      <desc_condicao_vin></desc_condicao_vin>
                                      <condicao_veiculo></condicao_veiculo>
                                      <cod_condicao_veiculo></cod_condicao_veiculo>
                                      <desc_condicao_veiculo></desc_condicao_veiculo>
                                      <marca_codigo></marca_codigo>
                                      <potencia_motor></potencia_motor>
                                      <capacidade_passageiros></capacidade_passageiros>
                                      <restricao></restricao>
                                      <cod_restricao></cod_restricao>
                                      <desc_restricao></desc_restricao>
                                  </especifico_veiculos_novos>
                                  <especifico_medicamentos>
                                      <numero_lote></numero_lote>
                                      <quantidade_produtos_no_lote></quantidade_produtos_no_lote>
                                      <normalizado_quantidade_produtos_no_lote></normalizado_quantidade_produtos_no_lote>
                                      <data_fabricacao></data_fabricacao>
                                      <normlizado_data_fabricacao></normlizado_data_fabricacao>
                                      <data_validade></data_validade>
                                      <normalizado_data_validade></normalizado_data_validade>
                                      <preco_maximo_consumidor></preco_maximo_consumidor>
                                      <normalizado_preco_maximo_consumidor></normalizado_preco_maximo_consumidor>
                                  </especifico_medicamentos>
                              </produto>
                          </produtos>
                          <totais>
                              <base_calculo_icms>000,00</base_calculo_icms>
                              <valor_icms>00,00</valor_icms>
                              <desonerado_icms>0,00</desonerado_icms>
                              <base_calculo_icms_st>0,00</base_calculo_icms_st>
                              <valor_icms_st>0,00</valor_icms_st>
                              <valor_produtos>000,00</valor_produtos>
                              <valor_frete>0,00</valor_frete>
                              <valor_seguro>0,00</valor_seguro>
                              <outras_despesas>0,00</outras_despesas>
                              <valor_ipi>0,00</valor_ipi>
                              <valor_nfe>000,00</valor_nfe>
                              <valor_descontos>0,00</valor_descontos>
                              <valor_ii>0,00</valor_ii>
                              <valor_pis>00,00</valor_pis>
                              <valor_cofins>00,00</valor_cofins>
                              <valor_tributos>0,00</valor_tributos>
                              <valor_icms_fcp>0,00</valor_icms_fcp>
                              <valor_icms_interestadual_dest>0,00</valor_icms_interestadual_dest>
                              <valor_icms_interestadual_rem>0,00</valor_icms_interestadual_rem>
                              <normalizado_base_calculo_icms>0.0</normalizado_base_calculo_icms>
                              <normalizado_valor_icms>0.0</normalizado_valor_icms>
                              <normalizado_desonerado_icms>0.0</normalizado_desonerado_icms>
                              <normalizado_base_calculo_icms_st>0.0</normalizado_base_calculo_icms_st>
                              <normalizado_valor_icms_st>0.0</normalizado_valor_icms_st>
                              <normalizado_valor_produtos>0.0</normalizado_valor_produtos>
                              <normalizado_valor_frete>0.0</normalizado_valor_frete>
                              <normalizado_valor_seguro>0.0</normalizado_valor_seguro>
                              <normalizado_outras_despesas>0.0</normalizado_outras_despesas>
                              <normalizado_valor_ipi>0.0</normalizado_valor_ipi>
                              <normalizado_valor_nfe>0.0</normalizado_valor_nfe>
                              <normalizado_valor_descontos>0.0</normalizado_valor_descontos>
                              <normalizado_valor_ii>0.0</normalizado_valor_ii>
                              <normalizado_valor_pis>0.0</normalizado_valor_pis>
                              <normalizado_valor_cofins>0.0</normalizado_valor_cofins>
                              <normalizado_valor_tributos>0.0</normalizado_valor_tributos>
                              <normalizado_valor_icms_fcp>0.0</normalizado_valor_icms_fcp>
                              <normalizado_valor_icms_interestadual_dest>0.0</normalizado_valor_icms_interestadual_dest>
                              <normalizado_valor_icms_interestadual_rem>0.0</normalizado_valor_icms_interestadual_rem>
                          </totais>
                          <transporte>
                              <modalidade_frete>1 - Contratação do Frete por conta do Destinatário</modalidade_frete>
                              <cod_modalidade_frete>1</cod_modalidade_frete>
                              <desc_modalidade_frete>Contratação do Frete por conta do Destinatário</desc_modalidade_frete>
                              <normalizado_modalidade_frete>0</normalizado_modalidade_frete>
                              <transportador>
                                  <cnpj>12.345.677/6543-21</cnpj>
                                  <nome>TRANSPORTE DE RECURSOS EMPRESARIAIS</nome>
                                  <ie>0192837465</ie>
                                  <endereco />
                                  <municipio>ALDEIA ROXA</municipio>
                                  <uf>AC</uf>
                                  <normalizado_cnpj>12345677654321</normalizado_cnpj>
                              </transportador>
                              <veiculo>
                                  <placa>TRE0123</placa>
                                  <uf>AC</uf>
                                  <rntc />
                              </veiculo>
                          </transporte>
                      </dados>
                  </documento_fiscal>
                </validacao>
              </validacoes>
              <itens_invalidos>
                <item_invalido>
                  <erros>
                    <erro>Mensagem de erro 1</erro>
                    <erro>Mensagem de erro 2</erro>
                  </erros>
                  <dados>
                    <validacao>
                      <recebivel>
                        <identificador>
                          <numero>ABC-123</numero>
                        </identificador>
                        <vencimento>2017-12-31</vencimento>
                        <valor>1999.90</valor>
                        <tipo>duplicata_mercantil</tipo>
                        <documento_fiscal>
                          <identificador>
                            <numero>4316 0287 8642 3700 0522 5500 1000 1523 7515 05210080</numero>
                          </identificador>
                          <tipo>nfe</tipo>
                        </documento_fiscal>
                        <partes>
                          <originador>
                            <documento>
                              <identificador>
                                <numero>10.418.053/0001-80</numero>
                              </identificador>
                              <tipo>cnpj</tipo>
                            </documento>
                          </originador>
                          <pagador>
                            <documento>
                              <identificador>
                                <numero>10.418.053/0001-80</numero>
                              </identificador>
                              <tipo>cnpj</tipo>
                            </documento>
                          </pagador>
                        </partes>
                      </recebivel>
                      <referencia_externa></referencia_externa>
                    </validacao>
                  </dados>
                </item_invalido>
              </itens_invalidos>
            </lote_de_validacoes>

+ Response 200 (application/json)
    Em caso de sucesso - JSON

    + Body

            {
              "validacoes": [
                {
                  "id": "db96b997-c05c-432d-86e7-425a12a544e2",
                  "data_criacao": "2017-01-18t11:58:23.070Z",
                  "data_finalizacao": "2017-01-18t11:58:30.640Z",
                  "status_de_processamento": "pendente",
                  "recebivel_id": "VAL-db96b997-c05c-432d-86e7-425a12a544e2",
                  "referencia_externa": "",
                  "lote_id": "baa717e5-4a9b-47d3-a87c-aa112c4eb434",
                  "veiculo": {
                    "id": "124gfvd",
                    "nome": "Veiculo"
                  },
                  "eventos": {
                    "evento": {
                      "codigo": "concluido",
                      "informacoes_complementares": {
                        "descricao": "descrição"
                      },
                      "data": "2017-01-01T00:00:00"
                    }
                  ],
                  "contatacoes": [
                    {
                      "id": "db96b997-c05c-432d-86e7-425a12a544e2",
                      "codigo": "",
                      "algoritmo": {
                        "id": "",
                        "codigo": "",
                        "nome": "",
                        "tipo": "elegibilidade_da_cessao",
                        "dimensao": "credito",
                        "escopo": "dfe"
                      },
                      "impacto": "neutro",
                      "mensagem": "Operação Interestadual",
                      "informacoes_complementares": "",
                      "dados_utilizados": "",
                      "parametros_do_algoritmo": "",
                      "data_conclusao": "2016-10-10T17:01:33.674Z"
                    },
                    {
                      "id": "db96b997-c05c-432d-86e7-425a12a544e2",
                      "algoritmo": {
                        "id": "",
                        "codigo": "",
                        "nome": "",
                        "tipo": "elegibilidade_da_cessao",
                        "dimensao": "credito",
                        "escopo": "dfe"
                      },
                      "impacto": "neutro",
                      "mensagem": "NF-e normal ou complementar",
                      "informacoes_complementares": "",
                      "dados_utilizados": "",
                      "parametros_do_algoritmo": "",
                      "data_conclusao": "2016-10-10T17:01:33.977Z"
                    }
                  ],
                  "partes": {
                    "originador": {
                      "documento": {
                        "identificador": {
                          "numero": "12.098.345/7654-67"
                        },
                        "tipo": "cnpj"
                      },
                      "unidade": "MATRIZ",
                      "data_de_abertura": "2001-01-01",
                      "atividade_economica": {
                        "principal": {
                          "codigo": "00.01-1-00",
                          "descricao": "Venda de equipamentos"
                        },
                        "secundarias": {
                          "secundaria": [{
                              "codigo": "01.01-1-00",
                              "descricao": "Fabricação de equipamentos"
                            },
                            {
                              "codigo": "47.51-2-01",
                              "descricao": "Comércio varejista especializado de equipamentos e suprimentos de informática"
                            },
                            {
                              "codigo": "47.63-6-02",
                              "descricao": "Comércio varejista de artigos esportivos"
                            }
                          ]
                        }
                      },
                      "capital_social": "1000000.00",
                      "efr": "*****",
                      "email": "",
                      "endereco": {
                        "bairro": "AREA COMERCIAL",
                        "cep": "12.345-098",
                        "complemento": "CONJUNTO 1010",
                        "logradouro": "CENTRAL DE RECURSOS",
                        "municipio": "VALE MINERAL",
                        "numero": "39",
                        "uf": "AC"
                      },
                      "natureza_juridica": {
                        "codigo": "206-2",
                        "descricao": "SOCIEDADE EMPRESARIA LIMITADA"
                      },
                      "nome_fantasia": "FABRICA BRASILEIRA",
                      "socios": {
                        "socio": {
                          "nome": "JOAO BORGES",
                          "qualificacao": "49-Sócio-Administrador"
                        }
                      },
                      "razao_social": "INDUSTRIA E COMERCIO DE RECURSOS COMERCIAIS LTDA.",
                      "situacao_cadastral": {
                        "status": "ATIVA",
                        "data": "2005-01-01",
                        "observacoes": ""
                      },
                      "situacao_especial": {
                        "status": "********",
                        "data": "********"
                      },
                      "telefones": ["(01) 9283-74651"]
                    },
                    "pagador": {
                      "documento": {
                        "identificador": {
                          "numero": "000.000.000-12"
                        },
                        "tipo": "cpf"
                      },
                      "nome": "ROSANE APARECIDA PARIZ BURRI",
                      "endereco": {
                        "logradouro": "R PADRE ORACIO",
                        "numero": "200",
                        "bairro": "VILA LENZI",
                        "complemento": "",
                        "cep": "89252-100",
                        "municipio": "JARAGUA DO SUL",
                        "uf": "SC"
                      },
                      "telefones": ["(47) 9616-6656"],
                      "email": "lala@lala.com.br"
                    }
                  },
                  "recebivel": {
                    "identificador": {
                      "numero": "ABC-123"
                    },
                    "vencimento": "2017-12-31",
                    "valor": "1999.90",
                    "tipo": "duplicata_mercantil",
                    "documento_fiscal": {
                      "identificador": {
                        "numero": "4316 0287 8642 3700 0522 5500 1000 1523 7515 0521 0080"
                      },
                      "tipo": "nfe"
                    },
                    "partes": {
                      "originador": {
                        "documento": {
                          "identificador": {
                            "numero": "10.418.053/0001-80"
[...]
